<head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@curingthecurse_">
    <meta name="twitter:creator" content="@curingthecurse_">
    {% if page.title %}
        <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
        <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
        <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
        <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
        <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
        <meta name="twitter:image:src" content="{{ site.url }}/path/to/image/{{ page.image }}">
    {% else %}
        <meta name="twitter:image:src" content="{{ site.url }} /favicon.png">
    {% endif %}
    <!-- end of Twitter card -->
</head>