<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta property="og:title" content="Curing the Curse of Knowledge"/>
  <meta name="twitter:title" content="Curing the Curse of Knowledge"/>
  <meta property="og:type" content="article">
  <meta property="og:description" content="{{ page.description }}"/>
  <meta name="twitter:description" content="{{ page.description }}"/>
  <meta property="og:url" content="{{ page.url }}"/>
  <meta name="twitter:url" content="{{ page.url }}"/>
  <meta property="og:image" content="https://i.imgur.com/vYjVjXX.png"/>
  <meta name="twitter:image" content="https://i.imgur.com/vYjVjXX.png"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@curingthecurse_"/>
  <link rel="shortcut icon" href="/assets/img/favicon.png">
  <link rel="stylesheet" href="css/main.css">
  <link rel="canonical" href="/">
  <title>Curing the Curse</title>
</head>
