<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png"/>

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@curingthecurse_"/>
    <meta name="twitter:creator" content="@curingthecurse_"/>
    <meta name="og:type" content="blog"/>
    <meta property="fb:app_id" content="APPID"/>
    {% if page.title %}
        <meta name="twitter:title" content="{{ page.title }}"/>
        <meta property="og:title" content="{{ page.title }}"/>
    {% else %}
        <meta name="twitter:title" content="{{ site.title }}"/>
        <meta property="og:title" content="{{ site.title }}"/>
    {% endif %}
    {% if page.url %}
        <meta name="twitter:url" content="{{ site.url }}{{ page.url }}"/>
        <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {% endif %}
    {% if page.description %}
        <meta name="twitter:description" content="{{ page.description }}"/>
        <meta property="og:description" content="{{ page.description }}"/>
    {% else %}
        <meta name="twitter:description" content="{{ site.description }}"/>
        <meta property="og:description" content="{{ site.description }}"/>
    {% endif %}
    <meta name="twitter:image" content="https://i.imgur.com/vYjVjXX.png"/>
    <meta property="og:image" content="https://i.imgur.com/vYjVjXX.png"/>
    <!-- end of Twitter card -->

</head>
